<footer class="footer">
  <article class="footer__content">
    <div class="footer__first">
      <figure class="mb-3">
        <img src="./assets/images/logo-footer.png" alt="logo" />
      </figure>
      <span>+52 (998) 8902470</span>
      <span>+52 (55) 5059 3991</span>
      <span>9am to 6pm CDMX Lunes a Domingo</span>
    </div>
    <div class="footer__second">
      <span>Seguros, fianzas y Psicología Financiera</span>
    </div>
    <div class="footer__third">
      <a href="">
        <img src="./assets/icons/facebook.png" alt="facebook" />
      </a>
      <a href="">
        <img src="./assets/icons/twitter.png" alt="twitter" />
      </a>
      <a href="">
        <img src="./assets/icons/youtube.png" alt="youtube" />
      </a>
    </div>
    <div class="footer__fourth">
      <hr class="col-12 mt-0" />
      <span>© 2023, Mente Creativa, Resuelve tu Seguro</span>
      <a href="">Aviso de privacidad</a>
    </div>
  </article>
</footer>
