<header class="header d-flex align-items-center gap-4 justify-content-between">
  <figure role="button" class="header__logo" (click)="onInit()">
    <img src="./assets/images/logo.webp" alt="Logo" />
  </figure>
  <nav class="header__navbar navbar gap-4">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#form">ÚNETENOS</a>
      </li>
      <li class="nav-item">
        <a href="#features">CARACTERÍSTICAS</a>
      </li>
      <li class="nav-item">
        <a href="https://actus.io/" rel="noopener noreferrer" target="_blank"
          >SOBRE NOSOTROS</a
        >
      </li>
    </ul>
    <a href="#form" class="header__btnget btn btn-outline-light">
      SOLICITA UN DEMO
    </a>
  </nav>
  <div ngbDropdown placement="bottom-end" container="body">
    <button type="button" class="header__menu btn" ngbDropdownToggle>
      <img src="./assets/icons/menu.svg" alt="Menu" />
    </button>
    <div class="header__dripdown" ngbDropdownMenu aria-labelledby="Menu">
      <a href="#form" ngbDropdownItem>Únetenos</a>
      <a href="#features" ngbDropdownItem>Beneficios</a>
      <a href="https://elena.actus.io/" target="_blank" ngbDropdownItem
        >Sobre nosotros</a
      >
    </div>
  </div>
</header>
