@use "../../../styles/mixins" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: var(--mx-width);
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--bg-primary);

  &__logo {
    max-width: 184px;
  }

  &__navbar {
    flex: 1 1 auto;

    @include screen(custom, max, 860) {
      display: none;
    }

    .navbar-nav {
      flex: 1 1 auto;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .nav-item {
      a {
        color: #000;
        font-size: 0.8rem;
      }
    }
  }
}
