<article id="products" class="sixth-content">
  <p class="subtitle my-5 text-center">Productos para tu vida</p>
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="globalService.activeProduct"
    class="nav-tabs"
  >
    <li [ngbNavItem]="1">
      <button ngbNavLink>Prosigue</button>
      <ng-template ngbNavContent>
        <ng-container
          *ngTemplateOutlet="content; context: { data: continue }"
        ></ng-container>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Cuida tu salud</button>
      <ng-template ngbNavContent>
        <ng-container
          *ngTemplateOutlet="content; context: { data: health }"
        ></ng-container>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Elige</button>
      <ng-template ngbNavContent>
        <ng-container
          *ngTemplateOutlet="content; context: { data: select }"
        ></ng-container>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <button ngbNavLink>Vive</button>
      <ng-template ngbNavContent>
        <ng-container
          *ngTemplateOutlet="content; context: { data: live }"
        ></ng-container>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <button ngbNavLink>Se Responsable</button>
      <ng-template ngbNavContent>
        <ng-container
          *ngTemplateOutlet="content; context: { data: responsible }"
        ></ng-container>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</article>

<ng-template #content let-data="data">
  <div class="sixth-content__cards">
    @for (item of data; track $index) {
    <div class="card">
      <figure class="sixth-content__image">
        <img [src]="item.image" alt="image" />
      </figure>
      <span> {{ item.text }} </span>
    </div>
    }
  </div>
</ng-template>
