<article class="privacy">
  <h1 class="text-center my-5">AVISO DE PRIVACIDAD</h1>
  <h2>AVISO DE PRIVACIDAD INTEGRAL</h2>
  <p>
    “Resuelve tu Seguro” y/o Miguel Rafael Mekler Granillo, Rosario Castellanos
    561, Alcaldía Venustiano Carranza, Ciudad de México, CP. 15830, México, y
    portal de internet www.resuelvetuseguro.mx, es el responsable del uso y
    protección de sus datos personales, y al respecto le informamos que tratará
    los datos personales y datos personales sensibles, que a continuación, se
    enlistan.
  </p>

  <h3>
    <strong>¿Qué datos personales solicitamos y para qué fines?</strong>
  </h3>
  Los datos personales que solicitamos los utilizaremos para las siguientes
  finalidades:
  <table class="my-2 table table-bordered">
    <tbody>
      <tr>
        <td class="text-center">
          <strong>Finalidad</strong>
        </td>
      </tr>
      <tr>
        <td>
          Realizar contacto para brindar asesoría de los productos financieros
          (que de forma enunciativa más no limitativa se mencionan seguros,
          planes de ahorro, fondos de inversión) que se intermedian de compañías
          de servicios y productos financieros que operan legalmente en México.
        </td>
      </tr>
      <tr>
        <td>
          Realizar contacto y seguimiento para brindar asesoría de servicios
          profesionales <em>para la contratación</em> de productos financieros
          (que de forma enunciativa más no limitativa se mencionan seguros,
          planes de ahorro, fondos de inversión) que se intermedian de compañías
          de servicios y productos financieros que operan legalmente en México.
        </td>
      </tr>
      <tr>
        <td>
          Realizar contacto y seguimiento para brindar asesoría
          jurídica-administrativa para la gestión de riesgos.
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    Para llevar a cabo las finalidades descritas en el presente aviso de
    privacidad, se solicitarán los siguientes datos personales
  </p>

  <ul>
    <li>Datos de identificación,</li>
    <li>Datos de contacto,</li>
    <li>Financieros y/o patrimoniales,</li>
    <li>Datos laborales</li>
    <li>Datos académicos</li>
    <li>Referencias Personales,</li>
    <li>
      En caso de tratarse de Extranjeros: Datos de tránsito, migratorios, país
      de origen y domicilio de país de origen,
    </li>
    <li>
      Fotografía, imágenes captadas por cámaras de video vigilancia, en caso de
      acudir a alguna de nuestras sucursales o/y oficinas,
    </li>
    <li>Número de Póliza de seguros y Certificado,</li>
    <li>Datos de geolocalización.</li>
  </ul>
  Además de los datos personales mencionados anteriormente, para las finalidades
  informadas en el presente aviso de privacidad, utilizaremos los siguientes
  datos personales considerados como sensibles, que requieren de especial
  protección:
  <ul>
    <li>Datos de salud,</li>
    <li>Estudios e informes médicos,</li>
    <li>Hábitos personales.</li>
    <li>Hábitos sociales</li>
  </ul>
  <h3>
    <strong
      >¿Con quién compartimos su información personal y para qué fines?</strong
    >
  </h3>
  <p>
    Se informa que no se realizarán transferencias de datos personales, salvo
    aquéllos que sean necesarios para realizar trámites ante compañías de
    servicios y productos financieros que operan legalmente en México, que de
    manera enunciativa más no limitativa, se menciona la contratación de
    productos y servicios financieros, cambios, trámite y gestión de siniestros,
    reembolsos, programación de servicios, solicitudes de aclaraciones,
    reconsideraciones entre otros.
  </p>

  <h3><strong>¿Dónde puedo ejercer mis derechos ARCO?</strong></h3>
  <p>
    Usted podrá presentar su solicitud para el ejercicio de los derechos de
    acceso, rectificación, cancelación u oposición de sus datos personales
    (derechos ARCO) directamente en el correo:
    <a href="mailto:privacidad@resuelvetuseguro.mx">{{
      "privacidad@resuelvetuseguro.mx"
    }}</a>
    o
    <a href="mailto:rafael@resuelvetuseguro.mx">{{
      "rafael@resuelvetuseguro.mx"
    }}</a
    >.
  </p>
  <p>Asimismo, dependiendo el derecho que desee ejercer, deberá especificar:</p>

  <ul>
    <li>
      Acceso: la modalidad en la que prefiere se reproduzcan los datos
      personales solicitados
    </li>
    <li>
      Rectificación: las modificaciones correcciones de sus datos personales,
      cuando sean inexactos, incompletos o no se encuentren actualizados. Deberá
      de presentar la documentación que respalde este derecho.
    </li>
    <li>
      Cancelación: las causas que motivan la petición de que se eliminen los
      datos personales de los archivos, registros o bases de datos personales.
    </li>
    <li>
      Oposición: las causas o la situación que lo llevan a solicitar que
      finalice el tratamiento de sus datos personales, así como describir el
      daño o perjuicio que le causaría que el tratamiento continúe.
    </li>
  </ul>
  <p>
    En el caso de que su solicitud no cuente con la información antes descrita,
    la persona responsable podrá solicitar la información faltante por medio de
    una PREVENCIÓN, la cual se deberá emitir en un plazo máximo de 10 días
    hábiles usted tendrá 10 días hábiles, contados a partir del día hábil
    siguiente de recibir la prevención, para proporcionar la información
    requerida, pues de lo contrario se tendrá como no presentada su solicitud.
  </p>
  Una vez presentada su solicitud, la persona responsable deberá informarle
  sobre la procedencia de su derecho en un plazo de 20 días hábiles.
  <h3>
    <strong
      >¿Cómo puede conocer los cambios en este aviso de privacidad?</strong
    >
  </h3>
  <p>
    El presente aviso de privacidad puede sufrir modificaciones, cambios o
    actualizaciones derivadas de nuevos requerimientos legales o por otras
    causas. Nos comprometemos a mantenerlo informado sobre los cambios que pueda
    sufrir el presente aviso de privacidad, a través de:
    <a href="http://www.resuelvetuseguro.mx/privacidad"
      >www.resuelvetuseguro.mx/privacidad</a
    >
  </p>
</article>
