<div class="form">
  <article class="card">
    <form class="form__content">
      <div>
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nombre"
        />
      </div>
      <div>
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Correo electrónico"
        />
      </div>
      <div>
        <label for="phone" class="form-label">Número de celular</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Número de celular"
        />
      </div>
      <div>
        <label for="dateBirth" class="form-label">Fecha de nacimiento</label>
        <input
          type="date"
          class="form-control"
          id="dateBirth"
          placeholder="Fecha de nacimiento"
        />
      </div>
      <div>
        <label for="state" class="form-label">Estado</label>
        <input
          type="text"
          class="form-control"
          id="state"
          placeholder="Estado"
        />
      </div>
      <div>
        <label for="municipality" class="form-label">Municipio</label>
        <input
          type="text"
          class="form-control"
          id="municipality"
          placeholder="Municipio"
        />
      </div>
      <div>
        <label for="protect" class="form-label"
          >¿Qué es lo que quieres proteger?</label
        >
        <input
          type="text"
          class="form-control"
          id="protect"
          placeholder="¿Qué es lo que quieres proteger?"
        />
      </div>
      <div class="text-center my-4">
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </article>
</div>
