<article class="fourth-content">
  <p class="subtitle mb-5">Encuentra tu seguro</p>
  <section class="fourth-content__cards">
    @for (item of data; track $index) {
    <div
      role="button"
      class="card"
      [class.card--active]="activeIndex === $index"
      (click)="onActiveCard($index)"
    >
      <figure class="fourth-content__image">
        <img [src]="item.icon" alt="icon" />
      </figure>
      <span> {{ item.text }} </span>
    </div>
    }
  </section>
  <div class="text-center my-5">
    <a href="#form" class="btn btn-primary">Cotiza aquí</a>
  </div>
</article>
