@use "./../styles/mixins" as *;

.line-top {
  padding: 0.7rem 1rem;
  text-align: center;
  @include screen(med-small) {
    text-align: end;
  }
  > span {
    margin: 0 auto;
    max-width: calc(var(--mx-width) - 2rem);
    display: block;
  }
}

.whatsapp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;

  &:hover {
    scale: 1.1;
    transition: all 0.8s;
  }

  > i {
    font-size: 2.5rem;
  }
}
