@use "./../../../../../../styles/mixins" as *;

%control {
  height: 3.1rem;
  background-color: #fafbfe;
  color: var(--secondary);
  &:active {
    border-color: var(--primary);
  }
  &:focus {
    box-shadow: none;
  }
  &::placeholder {
    color: #abb6c7;
  }
}

.form {
  padding: 1rem;
  background-color: var(--primary);
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    > div {
      flex: 1;
      min-width: 20rem;
    }
    > div:nth-child(7),
    > div:last-child {
      min-width: 100%;
    }
  }
  &__dropdown {
    @extend %control;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--bs-border-width) solid var(--bs-border-color);
  }
}

.card {
  top: -10rem;
}

.form-label {
  color: var(--secondary);
}
.form-control {
  @extend %control;
}

.btn-primary {
  background: none;
  background-color: var(--primary);
}
