<div class="form">
  <article class="card">
    <form class="form__content" [formGroup]="form">
      <div>
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Nombre"
          formControlName="name"
        />
      </div>
      <div>
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Correo electrónico"
          formControlName="email"
        />
      </div>
      <div>
        <label for="phone" class="form-label">Número de celular</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Número de celular"
          formControlName="phone"
        />
      </div>
      <div>
        <label for="dateBirth" class="form-label">Fecha de nacimiento</label>
        <input
          type="date"
          class="form-control"
          id="dateBirth"
          placeholder="Fecha de nacimiento"
          formControlName="dateBirth"
        />
      </div>
      <div>
        <label for="state" class="form-label">Estado</label>
        <input
          type="text"
          class="form-control"
          id="state"
          placeholder="Estado"
          formControlName="state"
        />
      </div>
      <div>
        <label for="municipality" class="form-label">Municipio</label>
        <input
          type="text"
          class="form-control"
          id="municipality"
          placeholder="Municipio"
          formControlName="municipality"
        />
      </div>
      <div ngbDropdown>
        <button
          type="button"
          class="btn form__dropdown"
          id="question"
          ngbDropdownToggle
        >
          {{
            form.controls["protect"].value || "¿Qué es lo que quieres proteger?"
          }}
        </button>
        <div ngbDropdownMenu aria-labelledby="question">
          <button
            type="button"
            ngbDropdownItem
            (click)="onSelectProtect('Seguro de gastos médicos')"
          >
            Seguro de gastos médicos
          </button>
          <button
            type="button"
            ngbDropdownItem
            (click)="onSelectProtect('Seguro de vida')"
          >
            Seguro de vida
          </button>
          <button
            type="button"
            ngbDropdownItem
            (click)="onSelectProtect('Plan de ahorro / inversión')"
          >
            Plan de ahorro / inversión
          </button>
          <button
            type="button"
            ngbDropdownItem
            (click)="onSelectProtect('Necesito otro tipo de seguro')"
          >
            Necesito otro tipo de seguro
          </button>
        </div>
      </div>
      <div class="text-center my-4">
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </article>
</div>
